* {
    box-sizing: border-box;
    margin: 0%;
    font-family: 'Lexend Deca', sans-serif;
}
body {
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
}
.box {
    margin: 150px auto;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(1fr, 500px));
}
.box > div {
    height: 500px;
    padding: 20px;
    display: grid;
    justify-items: center;
    align-content: space-around;
    color: hsl(0, 0%, 95%);
}
.box .sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 5px 0 0 5px;
}
.box .suvs {
    background-color: hsl(184, 100%, 22%);
}
.box .luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 5px 5px 0;
}
.head {
    display: grid;
    grid-template-rows: repeat(3, 30px);
    justify-self: start;
    transform: translateX(30px);
}
.head h1 {
    grid-row: 3 / 4;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
}
p {
    line-height: 30px;
    width: 80%;
    opacity: .75;
}
.button {
    padding: 15px 30px;
    text-decoration: none;
    border: 1px solid hsl(0, 0%, 95%);
    border-radius: 30px;
    font-weight: bold;
    background-color: hsl(0, 0%, 95%);
}
.or {
    color: hsl(31, 77%, 52%);
}
.dc {
    color: hsl(184, 100%, 22%);
}
.vd {
    color: hsl(179, 100%, 13%);;
}
.button:hover {
    background-color: transparent;
    color: hsl(0, 0%, 95%);
}
@media (min-width: 375px) and (max-width: 750px) {
    .box .sedans {
        border-radius: 5px 5px 0 0;
    }
    .box .luxury {
        border-radius: 0 0 5px 5px;
    }
}